#openinghours {
    background-color: yellow;
    width: 25%;
}

#openinghours-text {
    background-color: red;
    width: 25%;
    height: 250px;
}

/*
body {
    background-image: url(alwin-kroon-787528-unsplash.jpg);
    background-size: cover;
}
*/